.fullbody{
    width: 100%;
    height: 3000px;
    background-color:#141414;
}
body{
    margin: 0;
}
.header{
    width: 100%;
    height: 80px;
    background-color: #192133;
}
.logo{
    padding-left: 10px;
    width: 200px;
    height: 70px;}
    .home{
    padding-left: 10px;
    padding-top: 3px;
    color:rgb(223, 219, 219);
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    }
    .mystuff{
        
        padding-left: 10px;
    padding-top: 3px;
    color:rgb(223, 219, 219);
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    }
    .blank{
        padding-left: 560px;
        padding-top: 3px;
    }
    .button{
        padding-right:10px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color:#5d60be;
        border-color:#192133;
        border-top: #192133;
        border-left: #192133;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:17px;
        color:rgb(223, 219, 219);
        border-radius: 4px;
        cursor:pointer;
    }
    .search{
        padding-left: 10px;

    }
    .icon{
       
        width: 25px;
        padding-top: 11px;
        cursor:pointer;
    }
    .enbtn{
        background-color:#192133 ;
        color: whitesmoke;
        padding-left: 10px;
        border: none;
        padding-top: 15px;
        font-size: 15px;
        cursor:pointer;
    }
    .icon1{
        width: 20px;
        padding-top: 5px;
        padding-left: 10px;
        cursor:pointer;
    }
    .body1{
        width: 100%;
        height: 500px;  
    }

    .bodypart1{
        width: 50%;
        height: 600px;
       
    }.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-5%, -55%);
        text-align: center;
        
      }
    
    

    .heading{
        font-size: 30px;
        color: white;
      font-family:Georgia, 'Times New Roman', Times, serif;
       padding-left: 115px;
       padding-top: 150px;
       
        


    }.heading1{
        font-size: 20px;
        color: white;
        padding-left: 130px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
    }
    .signbtn{
        padding-right:10px;
        padding-top: 10px;
        padding-bottom: 8px;
        background-color:#3890d7;
        font-size:19px;
        color:rgb(223, 219, 219);
        border-radius: 5px;
        transform: translate(53%, 0%);
        cursor:pointer;
      }
      .img{
       
      
        height: 510px;

      }
      .bodypart3{
        width: 50%;
        height: 500px;
        background-color: aliceblue;
        padding-left: 760px;
      }
      .centered1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-96%, 41%);
        text-align: center;
      }
      .img1{
        height: 500;
      }
      .heading2{
        font-size: 30px;
        color: white;
      font-family:Georgia, 'Times New Roman', Times, serif;
       padding-left: 115px;
       padding-top: 150px;
        


    }.heading3{
        font-size: 20px;
        color: white;
        padding-left: 130px;
        font-family: 'Times New Roman', Times, serif;
    }
    .rent{
        padding-right:10px;
        padding-top: 10px;
        padding-bottom: 8px;
        background-color:#3890d7;
        font-size:19px;
        color:rgb(223, 219, 219);
        border-radius: 5px;
        transform: translate(53%, 0%);
        cursor:pointer;
      }
      .bodypart4{
        width: 50%;
        height: 520px;
        padding-left: 760px;

      }
      .bodypart5{
        width: 100%;
        height: 820px;
        background-color:white;
        
      }
      .heading4{
        color: black;
        padding-top: 50px;
        padding-left: 60px;
        font-size: 40px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-weight: lighter;

      }
      .heading5{
        color: black;
        padding-left:68px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 20px;
        font-style:oblique;
        font-weight: lighter;
      }
      .btn1{
        padding-left: 650px;
        transform: translate(0%,-130%);
        cursor:pointer;

        
      }
      .btn2{
        
        transform: translate(5%,-140%);
        cursor:pointer;
      }
      .btn3{
        
        transform: translate(7%,-145%);
        cursor:pointer;
      }
      .btn4{
        padding-left: 590px;
        transform: translate(7%,-130%);
        cursor:pointer;
      }
      .btn5{
        
        transform: translate(27%,-135%);
        cursor:pointer;
      }
      .btn6{
        
        transform: translate(32%,-135%);
        cursor:pointer;
      }
      .btn7{
        width: 280px;
        padding-left: 590px;
        transform: translate(7%,-120%);
        cursor:pointer;
      }
      .btn8{
        
        transform: translate(35%,-129%);
        cursor:pointer;
      }
      .btn9{
        
        transform: translate(42%,-137%);
        cursor:pointer;
      }
      .btn10{
        padding-left: 590px;
        transform: translate(7%,-115%);
        cursor:pointer;
      }
      .btn11{
        
        transform: translate(31%,-122%);
        cursor:pointer;
      }
      .btn12    {
        
        transform: translate(38%,-122%);
        cursor:pointer;
      }
      .bodypart6{
        
        width: 100%;
        height: 500px;
        background-color:rgb(10, 10, 10);
      }
      .body2{
        padding-top: 300px;
      }
      .img2{
        padding-top: 980px;
      }
      .heading6{
        color: white;
        padding-left:840px;
        padding-top: 70px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 45px;
        font-weight: bold;

      }
      .heading7{
        color: white;
        padding-left:850px;
        padding-top: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 20px;
        font-weight:lighter;
        font-style: oblique;
      }
      .get{
        padding-right:10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color:#3890d7;
        font-size:19px;
        color:rgb(223, 219, 219);
        border-radius: 3px;
        transform: translate(490%, 50%);
        cursor:pointer;
      }
      .body3{
transform: translate(0%,-65%);
      }
      .bodypart7{
        width: 100%;
        height: 500px;
        background-color:rgb(10, 10, 10);

      }
      .img6{
        width: 740px;
        padding-left: 58px;

      }
      .strtd{
        padding-right:20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color:#3890d7;
        font-size:19px;
        color:rgb(223, 219, 219);
        border-radius: 3px;
        transform: translate(60%,50%);
        cursor:pointer;
      }
      .heading8{
        color: white;
        padding-top: 70px;
        padding-left: 90px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 45px;
        font-weight: lighter;

      }
      .heading9{
        color: white;
       
        padding-top: 20px;
        padding-left: 100px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        font-size: 20px;
        font-weight:lighter;
        font-style: oblique

      }